

.calc{
  width: 382px;
  margin: 100px auto;
  height: 580px;
border-radius: 12px;
  background-color:black;
}

#answer
{  margin-bottom: 15px;
  
background-color: #e2e2e2;
padding: 10px;
font-size: 35px;
width: 360px;
height: 45px;
text-align: right;
border: 1px solid rgb(14, 13, 13);
}
.button
{
  margin-bottom: 12px;
  margin-left: 12px;
  background-color: rgb(39, 38, 38);
  height: 80px;
  width: 80px;
  color:white;
  font-size: 30px;
  border: 1px solid black;
  
  border-radius: 50PX;
  justify-content: space-between;
}
.button0
{
  margin-bottom: 12px;
  margin-left: 12px;
  background-color: rgb(255, 129, 11);
  height: 80px;
  width: 80px;
  color:white;
  font-size: 30px;
  border: 1px solid rgb(0, 0, 0);
  
  border-radius: 50PX;
  justify-content: space-between;
}

.button1{
width: 160px;
margin-left: 20px;
margin-top: 15px;
}